{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="container_chat">
        <div class="tittle">
            <h2>Chat</h2>
        </div>
        <form id="post-form" method="POST" action="checkview">{% csrf_token %}
            <label>Nombre de conversacion   :</label>
            <input type="text" name="room_name" id="room_name" width="100px" />
            <label>Usuario:</label>
            <input type="text" name="username" id="username" width="100px" />
            <input type="submit" value="Nueva conversacion">
        </form>
    </div>
     
{% endblock %}
