{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'msg_mnt/css/navbar.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="navbar0">
        <ul class="nav">
            <li><p class="tittle">Monitor de Conversaciones</p></li>

            {% if user_loged %}
                <li style="margin-left: 40%;">
                    <a class="{{ home|yesno:'active,' }}" href="{% url 'home' %}">Home</a>
                </li>
                <li><a href="{%url 'subida' %}">Subir conversaciones</a></li>
                <li><a href="{% url 'modelo' %}">Clasificar mensaje</a></li>
                <li><a href="{% url 'listaArchivos' %}">Mis conversaciones</a></li>
                <li><a>{{user}}</a>
                     <ul>
                        <li><a href="{% url 'home_unloged' %}">Cerrar sesión</a></li>
                    </ul>
                </li>
            {% else %}
                <li style="margin-left: 75%;">
                    <a class="{{ home|yesno:'active,' }}" href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a>Iniciar sesión</a>
                    <ul>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'sign-up' %}">Registro</a></li>                
                    </ul>
                </li>
            {% endif %}

        </ul>
    </div>
</body>
</html>