{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
 
    <div class="opaque_background"></div>
    <div class="login card">
        <div class="x"><a href="{% url 'home' %}">X</a></div>
        <h2>Iniciar sesión</h2>
        <form method="POST">
            {% csrf_token %}
            <input id="email" name="username" type="text" placeholder="nickname">
            <input id="password" name="password" type="password" placeholder="contraseña">
            <div class="button">
                <button>INICIAR SESIÓN</button>
            </div>
        </form>
    </div>

{% endblock %}
