
div.home-image img {
    position: absolute;
    z-index: 1;
    margin-top: 90px;
    margin-left: 8%;
    width: 40%;
}

div.home-image2 img {
    position: absolute;
    z-index: 1;
    margin-top: 680px;
    margin-left: 55%;
    width: 35%;
}

#div1{
    margin-top: 120px;
    margin-left: 30%;
}

#div2{
    margin-top: 760px;
    margin-left: 8%;
    font-size: 17px;
}

#div1_clasifier{
    margin-top: 100px;
    margin-left: 15%;
    width: 60%;
    text-align: left;
}

#container{
    width: 55%;
    margin-left: 50%;
    margin-top: -125px;
}

div.home-intro-card {
    text-align: justify;
    position: absolute;
    z-index: 20;
    padding: 35px;
    background-color: white;
    box-shadow: 0 0 15px 2px rgb(207, 207, 207);
    width: 55%;
}

h2 {
    color: rgb(9, 92, 139)
}

p {
    color: rgb(88, 87, 87);
}